<h1>Books</h1>

<div class="list-wrap">
  <% @books.each do |Book| %>
    <div class="list-box">
      <div class="list-comment">
        <span class="list-title"><%=link_to book.title, book_path(book.id) %></span>
        <span class="list-body"><%= book.body %></span>
      </div>
    </div>
  <% end %>
  <%= link_to "Show", show_book_path(@book.id) %>
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %>
</div>